body {
	background-color: #111;
	color: #efefef;	
}

h1 {
	font-size: 54px;
	color: orange;
	margin: 25px 0;
	text-align: center;
	letter-spacing: 16px;
	text-transform: uppercase;
}

.board {
	width: 800px;
	height: 480px;
	margin: 20px auto;
}

#game_canvas {
	background-color: black;
	width: 800px;
	height: 480px;
	border: 2px solid orange;
}

.comment
{
	margin: 25px auto;
	width: 800px;
	text-align: center;
	font-size: 24px;
	color: orange;
}

.controls
{
	margin: 0 auto;
	width: 650px;
	text-align: center;
	clear: both;
}

.controls button {
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin: 5px 5px;
	border: 1px solid black;
	font-size: 14px;
	float: left;
}

.controls #delete {
	background-color: #111;
	color: #666;
	border: 1px solid #666;
}

.controls #delete:hover {
	color: white;
	border: 1px solid white;
}

#help {
	font-size: 20px;
	letter-spacing: 5px;
	color: #666;
}

#help:hover {
	color: orange;
	cursor: pointer;
}

#closehelp {
	color: orange;
	position: relative;
	left: 350px;
}

#closehelp:hover {
	color: #efefef;
	cursor: pointer;
}

.help {
	display: none;
	position: absolute;
	width: 800px;
	height: 630px;
	background-color: black;
	border: 2px solid orange;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px 30px;
	font-size: 20px;
}

/*rozwiązanie tymczasowe, do optymalizacji!!!*/
#c0:hover, #c1:hover, #c2:hover, #c3:hover, #c4:hover, #c5:hover, #c6:hover, #c7:hover, #c8:hover {
	border: 1px solid white;
}

/*rozwiązanie tymczasowe, do przerobienia na event onMouse czy jakoś tak!!!*/
#again:hover {
	color: orange;
}
